<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="naver-site-verification" content="8420ca2802c67bb817823b036d5a303b6dd9c184"/>
    <meta name="description" content="적립/쿠폰발행 자동화서비스, 고객 재방문 증대, 출시기념 가입비/이용수수료 0원!">
    <title>매장 쿠폰마케팅 전문 또와요</title>

    <link rel="canonical" href="https://ttowayo.com">

    <!--css-->
    <link rel="stylesheet" href="/css/style.css">
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="ie-test.css"/>
    <![endif]-->

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/SpoqaHanSans-kr.css">


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140477263-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-140477263-1');
    </script>
</head>
<body>
<header id="header">
    <div class="container">
        <div class="row">
            <div class="head">
                <div id="logo"><a href="#section1" class="logo"><img src="/img/logo.png" alt="logo"></a></div>
                <ul class="menu">
                    <li>
                        <button href="#section2">또와요소개</button>
                    </li>
                    <li>
                        <button href="#section4">차별성</button>
                    </li>
                    <li>
                        <button href="#section8">활용방법</button>
                    </li>
                    <li>
                        <button href="#section11">입점문의</button>
                    </li>
                    <li>
                        <button href="http://dashboard.ttowayo.com/login">파트너어드민</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main>
    <section id="contents">
        <div id="section1">
            <div class="container">
                <div class="banner">
                    <h2>오늘도 내일도<br>쿠폰 <span>받고</span> <em>또와요</em></h2>
                    <h3><span>매장에</span> 최적화된 <span>맞춤</span><span>쿠폰</span><span>자동화</span><span>서비스</span><br>‘또와요’에
                        지금 입점하세요.</h3>
                    <a href="#section11">입점문의</a>
                </div>
            </div>
        </div>
        <div id="section2">
            <div class="container">
                <div class="row">
                    <div class="infor">
                        <div class="service">
                            <h3>지금 &lsquo;또와요&rsquo;에 입점하면<br>이 모든 서비스 도입 비용이 <span>무료</span></h3>
                            <div>
                                <img src="/img/stamp.png" alt="#">
                                <h4>초간단 적립 서비스 도입</h4>
                                <p>스탬프 &#149; 포인트 적립 서비스 도입시<br>별도의 가입 비용이 필요 없습니다.</p>
                            </div>
                            <div>
                                <img src="/img/coupon.png" alt="#" class="mar-left-22">
                                <h4>쿠폰 마케팅 서비스 도입</h4>
                                <p>고객 유형별 맞춤 설계가 가능한<br>쿠폰 마케팅이 무료로 가능합니다.</p>
                            </div>
                            <div>
                                <img src="/img/cart.png" alt="#">
                                <h4>또와요 쇼핑몰 입점</h4>
                                <p>또와요 쇼핑몰에 무료로 입점하면<br>우리매장 매출 향상에 도움이 됩니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="section3">-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="video">-->
                        <!--<video poster="/img/sum.png" controls="controls" preload="none">-->
                            <!--<source src="/img/ttowayotv.mp4" type="video/mp4">-->
                        <!--</video>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div id="section4">
            <div class="container-1024">
                <div class="row">
                    <div class="differentiation1">
                        <div class="text">
                            <h2><span>맞춤 쿠폰마케팅</span>으로 <br>고객방문 유도</h2>
                            <p class="t-50"><img src="/img/check-or.png" alt="#">유형별 맞춤 쿠폰발행</p>
                            <p><img src="/img/check-or.png" alt="#">매장 또는 쇼핑몰 동시 사용</p>
                        </div>
                        <div class="iphone-poa">
                            <div class="img">
                                <img src="/img/iphone_coupon.png" alt="">
                                <div class="coupon">
                                    <img src="/img/coupon3.png" alt="" class="delay1">
                                    <img src="/img/coupon2.png" alt="" class="delay2">
                                    <img src="/img/coupon1.png" alt="" class="delay3">
                                </div>
                            </div>
                        </div>
                        <div class="mob-text">
                            <p><img src="/img/check-or.png" alt="#">유형별 맞춤 쿠폰발행</p>
                            <p><img src="/img/check-or.png" alt="#">매장 또는 쇼핑몰 동시 사용</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section5">
            <div class="container-1024">
                <div class="row">
                    <div class="differentiation2">
                        <div class="mob-title">
                            <h2><span>또와요 쇼핑</span>으로<br>온라인 매출증대</h2>
                        </div>
                        <div class="iphone-poa">
                            <div class="img">
                                <img src="/img/iphone_list.png" alt="">
                                <div class="gift">
                                    <img src="/img/gift.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="text">
                            <h2><span>또와요 쇼핑</span>으로<br>온라인 매출증대</h2>
                            <p class="t-50"><img src="/img/check-or.png" alt="#">로컬매장 모바일 쇼핑몰</p>
                            <p><img src="/img/check-or.png" alt="#">상시 할인상품 판매</p>
                        </div>
                        <div class="mob-text">
                            <p><img src="/img/check-or.png" alt="#">로컬매장 모바일 쇼핑몰</p>
                            <p><img src="/img/check-or.png" alt="#">상시 할인상품 판매</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section6">
            <div class="container-1024">
                <div class="row">
                    <div class="differentiation3">
                        <div class="text">
                            <h2>실시간<br><span>모바일 고객 리포트</span></h2>
                            <p class="t-50"><img src="/img/check-or.png" alt="#">실시간 고객 분석 현황</p>
                            <p><img src="/img/check-or.png" alt="#">매장 맞춤 마케팅 전략 활용</p>
                        </div>
                        <div class="iphone-poa">
                            <div class="img">
                                <img src="/img/iphone_graph.png" alt="">
                                <div class="graph-phone">
                                    <img src="/img/graph.png" alt="" class="graph-delay1">
                                </div>
                            </div>
                        </div>
                        <div class="mob-text">
                            <p><img src="/img/check-or.png" alt="#">실시간 고객 분석 현황</p>
                            <p><img src="/img/check-or.png" alt="#">매장 맞춤 마케팅 전략 활용</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section7">
            <div class="container-1024">
                <div class="row">
                    <div class="differentiation4">
                        <div class="text">
                            <h2><span>간편 적립</span>에<br>사용까지 쉽게</h2>
                            <p class="t-50"><img src="/img/check-or.png" alt="#">QR스캔으로 1초 적립</p>
                            <p><img src="/img/check-or.png" alt="#">쉽고 편리한 사용</p>
                        </div>
                        <div class="iphone-poa">
                            <div class="img">
                                <img src="/img/iphone_saving.png" alt="" class="web-device">
                                <img src="/img/mob-device.png" alt="" class="mob-device">
                                <div class="point">
                                    <img src="/img/point2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="mob-text">
                            <p><img src="/img/check-or.png" alt="#">QR스캔으로 1초 적립</p>
                            <p><img src="/img/check-or.png" alt="#">쉽고 편리한 사용</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section8">
            <div class="container">
                <div class="row">
                    <div class="item">
                        <div class="item-text1">
                            <h2>고객 유형별 맞춤 쿠폰 설계 가능</h2>
                            <p>매장에 최적화된 쿠폰 자동화 시스템을 통해<br>100여개 이상의 맞춤 쿠폰 생성 및 발행이 가능합니다.</p>
                        </div>
                        <div class="item-img">
                            <img src="/img/use_method_mob.jpg" alt="" class="mob-cou">
                            <img src="/img/use_method_web.jpg" alt="" class="web-cou">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-text2">
                            <h2>정밀 분석 시스템을 통한<br>고객별 맞춤 마케팅</h2>
                            <p>매장별로 분석된 고객데이터를 바탕으로<br>타켓팅된 유형별, 고객별 맞춤 마케팅이 가능합니다.</p>
                        </div>
                        <ul class="benefits-detail">
                            <li>
                                <div class="benefits-box">
                                    <figure>
                                        <img src="/img/use_method_A_store.jpg"
                                             alt="">
                                    </figure>
                                </div>
                            </li>
                            <li>
                                <div class="benefits-box">
                                    <figure>
                                        <img src="/img/use_method_B_store.jpg"
                                             alt="">
                                    </figure>
                                </div>
                            </li>
                            <li>
                                <div class="benefits-box">
                                    <figure>
                                        <img src="/img/use_method_C_store.jpg"
                                             alt="">
                                    </figure>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="section9">
            <div class="container-1350">
                <div class="row">
                    <div class="item">
                        <div class="item-text3">
                            <h2>온/오프라인 모두 사용 가능한 쿠폰</h2>
                            <p>받은 쿠폰은 '또와요' 앱과 오프라인 매장에서 모두 사용할 수 있어 효용성 및 매출 증대 기여에 매우 효과적입니다.</p>
                        </div>
                        <div class="on_off">
                            <img src="/img/use_method_icon.png" alt="">
                        </div>
                        <ul class="twin-box">
                            <li>
                                <img src="/img/on-line.jpg" alt="">
                            </li>
                            <li>
                                <img src="/img/off-line.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="item item-last">
                        <div class="item-text4">
                            <h2>고객 재방문을 유도하는<br>자동 문자 전송</h2>
                            <p>매장에서 신경 쓰지 않아도 고객별 맞춤 쿠폰 발행을<br>자동은 물론 수동 문자 발송도 가능합니다.</p>
                        </div>
                        <div class="message-item">
                            <div class="img_block_con ict_message">
                                <ul class="sm_mg">
                                    <li class="devide_3w">
                                        <div class="box_margin">
                                            <div class="appinfo box_line">
                                                <img src="/img/sms1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="devide_3w">
                                        <div class="box_margin">
                                            <div class="appinfo box_line">
                                                <img src="/img/sms2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section11">
            <div class="container">
                <div class="row">
                    <form id="contact-form" class="form cf" action="/register" >
                        <div class="title-contact col-100">
                            <h2>입점문의</h2>
                            <h4>운영중인 매장을 지금 또와요에 입점해보세요.<br>문의 주시면 빠르게 연락 드리겠습니다.</h4>
                        </div>
                        <div class="col cf padd-3rem">
                            <div class="form-row cf">
                                <label for="select-path">또와요 검색경로 <span>*</span></label>
                                <select id="select_path" name="select_path" required>
                                    <option value="" disabled="" selected="">들어오신 경로를 선택해주세요
                                    </option>
                                    <option value="네이버 (연관검색어)"> 네이버 (연관검색어)</option>
                                    <option value="네이버 (지식iN)"> 네이버 (지식iN)</option>
                                    <option value="네이버 (카페)"> 네이버 (카페)</option>
                                    <option value="네이버 (블로그)"> 네이버 (블로그)</option>
                                    <option value="네이버 (파워링크)"> 네이버 (파워링크)</option>
                                    <option value="언론기사"> 언론기사</option>
                                    <option value="구글"> 구글</option>
                                    <option value="페이스북"> 페이스북</option>
                                    <option value="인스타그램"> 인스타그램</option>
                                    <option value="지인추천"> 지인추천</option>
                                    <option value="기타"> 기타</option>
                                </select>
                            </div>
                            <div class="form-row cf">
                                <label for="input-job">업종 <span>*</span></label>
                                <input type="text" name="biz_type" id="biz_type" value=""
                                       placeholder="ex&#41; 카페, 요식업, 학원 뷰티 등" required>
                            </div>
                            <div class="form-row cf">
                                <label for="input-detail-add">주소 <span>*</span></label>
                                <input type="text" name="biz_addr" id="biz_addr" value=""
                                       placeholder="ex&#41; 경기도 성남시 분당구" required>
                            </div>
                        </div>
                        <div class="col cf padd-1rem">
                            <div class="form-row cf">
                                <label for="input-company">상호명 <span>*</span></label>
                                <input type="text" name="biz_name" id="biz_name" value=""
                                       placeholder="상호명을 적어주세요." required>
                            </div>
                            <div class="form-row cf">
                                <label for="input-phone">연락처 <span>*</span></label>
                                <input type="text" name="biz_phone" id="biz_phone" value=""
                                       placeholder="ex&#41; 01012345678" numberOnly>
                            </div>
                            <div class="form-row cf">
                                <label for="input-email">이메일 <span>*</span></label>
                                <input type="email" name="biz_email" id="biz_email" value=""
                                       placeholder="ex&#41; ttowayo@naver.com" required>
                            </div>
                        </div>
                        <div class="form-row col-100 cf h-a">
                            <label for="biz_content">상세내용</label>
                            <textarea name="biz_content" id="biz_content"
                                      placeholder="상세문의 내용을 자세히 적어 주실경우 더욱 쉬운 상담이 가능합니다."></textarea>
                        </div>
                        <div class="form-row col-100 cf button">
                            <p>"입점문의"를 클릭하시면 개인정보 수집 및 이용 약관에 동의 하신 것으로 간주됩니다.</p>
                            <button>입점 문의하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="pad-50">
                    <div class="call-center">
                        <div class="phone-nember">
                            <a href=""><i class="fa fa-mobile" aria-hidden="true"></i>고객센터 : 031&#41; 302 3334</a>
                        </div>
                        <div class="run-time">
                            <ul>
                                <li>운영시간 : 10:00 ~ 18:00 &#40;월요일 - 금요일&#41;</li>
                            </ul>
                        </div>
                    </div>
                    <div class="contact-us">
                        <h2>(주)엘린미디어</h2>
                        <p>경기도 용인시 수지구 죽전로 152 단국대학교 산학협력관 410호 / 대표 : 송호은 / 대표번호 : 031-302-3334 <br> 사업자등록번호 :
                            328-88-00283 / 통신판매번호 : 2018-용인수지-0277 / 이메일 : contact@elinmedia.com</p>
                    </div>
                    <!--<div class="faq">-->
                        <!--<a href="javascript:alert('FAQ 서비스 준비중입니다.');">-->
                            <!--<p>FAQ&#40;자주묻는질문&#41;</p>-->
                        <!--</a>-->
                    <!--</div>-->
                    <div class="terms2">
                        <a href="/legal/termofpartner">파트너이용약관 </a>
                        <a href="/legal/termofuser">사용자이용약관 </a>
                        <a href="/legal/termofprivacy"> 개인정보취급방침</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/javascript.js"></script>
<script src="/js/jquery-ui-1.12.1.min.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script>

    $("input:text[numberOnly]").on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9]/g,""));
    });

    $( "#contact-form" ).submit(function( event ) {
        event.preventDefault();
        let url = $(this).attr( "action" );
        let data = $(this).serialize();

        console.log(data);
        $.post( url, data )
                .done(function( data ) {
                    if(data) {
                        alert('입점문의가 완료되었습니다.\n빠른 시일 내에 연락드리겠습니다.\n감사합니다.');
                    } else {
                        alert('입점문의에 오류가 발생하였습니다.\n불편을 드려 죄송합니다.');
                    }
                });
    });

    $(function () {

        $('.logo').on("click", function (e) {
            e.preventDefault();
            $(".menu li button").removeClass('active');
            var thisTarget = $('.logo').attr("href");
            $(window).scrollTop($(thisTarget).offset().top);
        });

        $('.menu li button').on("click", function (e) {
            e.preventDefault();
            $('.menu li button').removeClass('active');
            $(this).addClass('active');
            var thisTarget = $(this).attr("href");
            console.log(thisTarget);
            if(thisTarget === 'http://dashboard.ttowayo.com/login') {
                window.open(thisTarget);
            } else {
                $(window).scrollTop($(thisTarget).offset().top);
            }

            // if (thisTarget.includes('#section')) {
            //     $(window).scrollTop($(thisTarget).offset().top);
            // } else {
            //     window.open(thisTarget);
            // }
        });


        $(window).scroll(function () {
            var wScroll = $(this).scrollTop();

            if (wScroll >= $(".differentiation1 .img .coupon img").offset().top - $(window).height() / 2) {
                $(".differentiation1 .img .coupon img").addClass("show");
            }
            if (wScroll >= $(".differentiation2 .img .gift img").offset().top - $(window).height() / 2) {
                $(".differentiation2 .img .gift img").addClass("show");
            }
            if (wScroll >= $(".differentiation3 .img .graph-phone .graph-delay1 ").offset().top - $(window).height() / 2) {
                $(".differentiation3 .img .graph-phone .graph-delay1").addClass("show");
            }
            if (wScroll >= $(".differentiation4 .img .point").offset().top - $(window).height() / 2) {
                $(".differentiation4 .img .point").addClass("show");
            }
        });
    });
</script>
</body>
</html>