<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>

    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link href="/stylesheets/plugins/datapicker/datepicker3.css" rel="stylesheet">


    <link href="/stylesheets/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
</head>

<body>
<div id="wrapper">
    <div class="wrapper wrapper-content">
        <div class="large-box ibox">
            <div class="ibox-content signup-content">
                <div class="text-center m-t m-b-lg">
                    <img src="/img/logo.png" width="30%">
                </div>
                <div>
                    <p>또와요 파트너 가입신청이 완료되었습니다.</p>
                     
                    <p>[ {{ storeName }} ]의 가입을 진심으로 환영합니다.</p>
                     
                    <p>작성하신 가입정보 검토 후에 담당자가 별도로 
                    연락 드리겠습니다.(영업일 기준 1-2일 소요)</p>
                     
                    <h5>[ 준비서류 안내 ]</h5>
                    <p>※ 아래 서류의 사본을 준비하여 ttowayo@elinmedia.com으로 메일 전송 
                        부탁 드립니다.</p>

                    <p class="">- 사업자등록증사본 1부</p>
                    <p>- 사업자계좌사본 1부</p>
<!--                    <p>문의사항 : 031) - 302 - 3334</p>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script src="/js/inspinia/jquery-3.1.1.min.js"></script>
<script src="/js/inspinia/bootstrap.min.js"></script>
<script src="/js/inspinia/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/js/inspinia//plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="/js/inspinia/plugins/dataTables/datatables.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/js/inspinia/inspinia.js"></script>
<script src="/js/inspinia/plugins/pace/pace.min.js"></script>
<!-- Data picker -->
<script src="/js/inspinia/plugins/datapicker/bootstrap-datepicker.js"></script>

<!-- Page-Level Scripts -->
<script>
    $(document).ready(function () {
    });
</script>

</body>

</html>

